:root {
    --primary: #060b04;
    --background-primary: #ffffff;
    --background-secondary: #0891b2;
    --text-light: #5b5855;
    --font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--font-stack);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

/* HEADER */

.background-wrapper {
    filter: drop-shadow(0px 5px 5px #00000050);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 60vh;
    width: 100vw;
}

.header-background {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    background-color: var(--background-secondary);
    height: 100%;
    width: 100%;    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:25px 0;
}

.hero-img {
    /* float: left; */
    position: relative;
    box-shadow: 0px 5px 5px #00000050;
    margin: 0 25px;
    max-width: 400px;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-img h1 {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--background-primary);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-size: 3.5rem;
    margin: 0 15px;
    /* max-width: 80%; */
}

.about-me {
    margin: 30px 20px;
    max-width: 500px;
    /* background-color: var(--background-primary);
    box-shadow: 0px 5px 5px #00000050; */
}

.about-me>h2 {
    font-size: 2rem;
    text-align: center;
}

.about-me>p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-light);
    margin-top: 20px;
    margin-bottom: 40px;
}

.website-links {
    text-align: center;
}

.website-links img {
    width: 30px;
    margin-left: 10px;
}

/* MAIN */

main>h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 50px;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section {
    box-shadow: 0px 5px 5px #00000050;
    margin: 20px auto;
    max-width: 600px;
    min-height: 450px;
    margin: 30px 20px;
}

.project-img {
    max-width: 100%;
}

.project-img img {
    width: 100%;
}

.project-info {
    padding: 20px 20px 20% 20px;
}

.project-info>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}
.project-info h3 {
    font-size: 1.5rem;
}

.project-info .website-links img {
    width: 20px;
}

.project-info p {
    color: var(--text-light);
}

/* FOOTER */

footer {
    background-color: var(--background-secondary);
    color: var(--background-primary);
    padding-top: 30px;
}

footer>h2 {
    font-size: 3rem;
    text-align: center;
}

.contact-info {
    padding: 20px;
}

.contact-info>p {
    margin: 10px 0;
}

.contact-info>p:first-child {
    font-size: 1.2rem;
}

.contact-info>p:nth-child(2) {
    margin: 20px 0;
}

footer>.website-links {
    margin-bottom: 20px;
}

.footer-img {
    width: 100%;
}

.footer-img img {
    width: 100%;
    vertical-align: middle;
}