:root {
    --primary: #EEEEEE;
    --background-primary: #222831;
    --background-secondary: #393E46;
    --accent: #00aab3;
    --text-light: #b5c9ca;
    --font-stack: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--font-stack);
    color: var(--primary);
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    background-color: var(--background-primary);
}

/* HEADER */

.background-wrapper {
    /* filter: drop-shadow(0px 5px 5px #00000050); */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 60vh;
    width: 100vw;
    max-width: 100%;
}

.header-background {
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    background-color: var(--accent);
    height: 100%;
    width: 100%;    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:25px 0;
}

.hero-img {
    position: relative;
    /* box-shadow: 0px 5px 5px #00000050; */
    margin: 0 25px;
    max-width: 400px;
    border-radius: 20px;
}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.hero-img h1 {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--primary);
    /* text-shadow: 2px 2px 2px rgba(0,0,0,0.5); */
    font-size: 2.5rem;
    margin: 0 15px;
    font-weight: 500;
}

.about-me {
    margin: 30px 20px;
    max-width: 500px;
    border-radius: 20px;
}

.about-me>h2 {
    font-size: 2rem;
    text-align: center;
}

.about-me>p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--text-light);
    margin-top: 20px;
    margin-bottom: 40px;
}

.website-links {
    text-align: center;
}

.website-links img {
    width: 30px;
    margin-left: 10px;
    filter: invert(100%);
}

/* MAIN */

main {
    margin: 50px 20px;
}

main>h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    row-gap: 40px;
    column-gap: 20px;
}

section {
    /* box-shadow: 0px 5px 5px #00000050; */
    background-color: var(--background-secondary);
    border-radius: 20px;
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
}

section:hover {
    transform: scale(103%);
}

.project-img {
    height: 70%;
    padding: 5px;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.project-info {
    padding: 20px;
}

.project-info>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 10px;
}
.project-info h3 {
    font-size: 1.5rem;
}

.project-info .website-links img {
    width: 20px;
}

.project-info p {
    color: var(--text-light);
    font-size: 1.2rem;
}

/* FOOTER */

footer {
    background-color: var(--accent);
    color: var(--background-primary);
    padding-top: 30px;
}

footer h2 {
    font-size: 3rem;
    text-align: center;
}

.contact-info {
    padding: 20px;
}

.contact-info>p {
    margin: 10px 0;
}

.contact-info>p:first-child {
    font-size: 1.2rem;
}

.contact-info>p:nth-child(2) {
    margin: 20px 0;
}

.contact-info img {
    display: none;
    filter: invert(0%);
}

footer .website-links {
    margin-bottom: 20px;
}

footer .website-links img {
    filter: invert(0%);
}

.footer-img {
    width: 100%;
}

.footer-img img {
    width: 100%;
    vertical-align: middle;
}

@media screen and (min-width: 900px) {
    /* HEADER */

    .background-wrapper {
        height: 75vh;
    }
    
    .header-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        display: block;
        max-width: 1000px;
        margin: 120px 80px;
    }

    .hero-img {
        float: left;
        max-width: 300px;
        margin: 0;
        margin-right: 40px;
        transform-origin: bottom right;
        scale: 120%;
    }

    .hero-img img {
        vertical-align: middle;
    }

    .hero-img h1{
        right: -250px;
        top: -8px;
        left: auto;
        bottom: auto;
        text-align: start;
        font-size: 3.5rem;
    }

    .about-me {
        background-color: var(--background-secondary);
        /* box-shadow: 0px 5px 5px #00000050; */
        max-width: 700px;
        margin: 0;
        padding: 40px 30px 30px 30px;
    }

    .about-me h2 {
        font-size: 2.5rem;
    }

    .about-me p {
        font-size: 1.5rem;
    }

    .about-me .website-links {
        display: none;
    }

    /* MAIN */

    main {
        margin: 50px 40px 80px 40px;
    }

    main>h2 {
        text-align: start;
        font-size: 3rem;
        margin-left: 10%;
        margin-bottom: 20px;
    }

    .projects-wrapper {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .project-info .website-links img {
        width: 25px;
    }


    /* FOOTER */

    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 40px;
    }

    .footer-wrapper {
        padding-right: 30px;
    }

    .footer-wrapper h2 {
        text-align: start;
        margin-bottom: 20px;
    }

    .contact-info {
        padding: 0;
    }

    .contact-info>p {
        font-size: 1.2rem;
        margin: 10px 0;
    }
    
    .contact-info>p:nth-child(2) {
        margin: 30px 0;
    }
    
    .contact-info img {
        width: 30px;
        display: inline;
        vertical-align: middle;
        margin-right: 5px;
    }

    .footer-wrapper .website-links {
        text-align: start;
        margin-top: 30px;
    }

    .footer-wrapper .website-links img {
        width: 40px;
    }

    .footer-wrapper .website-links :first-child img {
        margin-left: 0;
    }

    .footer-img {
        max-width: 400px;
        height: 500px;
    }

    .footer-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

}

@media screen and (min-width: 1366px) {

    /* HEADER */

    .background-wrapper { 
        height: 100vh;
    }

    .header-wrapper {
        height: 100vh;
        margin: 0 50px 50px 50px;
    }

    header {
        display: flex;
        flex-direction: row;
        height: 100%;
        max-width: 100%;
        margin: 0;
    }
    
    .hero-img {
        margin: 0;
        max-width: 100%;
        height: 90%;
        scale: 100%;
    }
    
    .hero-img h1 {
        top: auto;
        bottom: 20px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 5rem;
    }

    .about-me {
        max-width: 40%;
        margin: 0;
        border-radius: 0 20px 20px 0;
    }

    .about-me>h2 {
        font-size: 3rem;
        text-align: start;
    }
    
    .about-me>p {
        font-size: 1.4rem;
    }
    
    .about-me .website-links {
        text-align: end;
        display: block;
    }
    
    .website-links img {
        width: 50px;
    }

    /* MAIN */

    .projects-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    /* FOOTER */

    footer {
        align-items: start;
    }

    .footer-wrapper {
        padding-right: 50px;
    }

    .contact-info > p:first-child,
    .contact-info > p {
        font-size: 1.5rem;
    }

    .contact-info img {
        width: 40px;
    }

    .footer-wrapper .website-links img {
        width: 50px;
        margin-left: 20px;
    }

    .footer-img {
        max-width: 50%;
    }

}

@media screen and (min-width: 1600px) {
    .about-me>p {
        font-size: 1.8rem;
    }
}